.flex1
{
    border: 2px solid white;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.flex1 div
{
    margin: 5px;
}

.box1
{
    background-color: red;
    width: 100px;
    height: 100px;
}

.box2
{
    background-color: blue; 
    width: 100px;
    height: 100px;

}

.box3
{
    background-color: yellow; 
    width: 100px;
    height: 100px;

}

.box4
{
    background-color: yellowgreen; 
    width: 100px;
    height: 100px;
}

.flex2
{
    display: flex;
    flex-direction: column;
}

.flex2 div
{
    margin: 5px;
}

.box-1
{
    border: 2px solid red;
    width: 100px;
    height: 100px;
}

.box-2
{
    border: 2px solid blue;
    width: 100px;
    height: 100px;
}

.box-3
{
    border: 2px solid yellow;
    width: 100px;
    height: 100px;
}

.Contact
{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

form
{
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: flex-start;
    padding: 5px;
}

form input
{
    border: 2px solid grey;
    padding: 5px;
    margin: 5px;
}

form textarea
{
    border: 2px solid grey;
    height: 10vh;
    padding: 5px;
    margin: 5px;
}

 .btn
 {
 background-color: hotpink;
 color: white;
 padding: 5px;
 height: 5px;
 width: 10px;
 text-transform: uppercase;
 margin: 10px;
}
